.wrapper{
	padding: 30px;
}

.regForm .row{
	margin-top: 10px;
}

.regForm input[type="text"]{
	width: 100%;
	padding: 10px;
}

.regForm .code{
	border: 1px solid #000;
	padding: 10px;
	margin-bottom: 10px;
}

.regForm .error{
	color: red;
	display: block;
}

.regForm .result{
	color: green;
	display: block;
}